/*Base*/
:root {
    --button-color: #FF3E79;
    --frames-color: #41F6D7;
    --gray-activeButton: #7E7E82;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'TT Lakes Compressed Medium', sans-serif;
    background-color: #F8F8F8;
    min-width: 320px;
    position: relative;
}
button{
    padding: 0;
    margin: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    cursor:pointer;
}
.company-group__block-content__element__button > div,
.manu__circle {
    width: 40px;
    height: 40px;
    background: var(--button-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.manu__circle > img{
    position: relative;
}
/*h1*/
.navigation__top-heading{
    font-family: 'TT Lakes', sans-serif;
    font-size: 28px;
    letter-spacing: -0.6px;
}

/**/
.navigation{
    height: 509px;
}
.great-navigation {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-basis: content;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: scroll; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.great-navigation::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.great-navigation::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.great-navigation > a{
    font-size: 16px;
    padding-top:8px;
    padding-bottom:8px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 8px;
    font-family: 'TT Lakes', sans-serif;
    text-decoration: none;
    background-color: #F8F8F8;
    color: var(--gray-activeButton);
    letter-spacing: -0.2px;
}
.great-navigation__repeir{
    padding-top:8px;
    padding-bottom:8px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 8px;
    border: 2px solid #B8FFEC;
    background-color: #FFFFFF;
}
/*Сюда нужно добавить градиент*/
.great-navigation__1::after{
}
/*Основная инфа*/
.content{
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin: 0;
}
.content__block{
    width: 100%;
    height: 100%;
}
.content__block-img > img{
    width: 100%;
    height: 90%;
}
.content__block-text{
    margin: 0;
    padding-bottom: 16px;
    overflow: auto;
    scrollbar-width: none;
    min-width: 288px;
    max-height: 160px;
}
.content__block-text_position{
    min-width: 288px;
    max-height: 160px;
}
.content__block_position{
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
}
/*
@media (min-width: 1000px) {
    .content__block-img {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .content__block {
        flex: 0 0 75%;
        max-width: 75%;
    }
}*/
.content__block-text > p {
    font-family: 'TT Lakes', sans-serif;
    letter-spacing: 0.2px;
    color: black;
    margin: 0;
    font-size: 14px;
}
.content__text-history{
    padding-top: 16px;
}
.content__button{
    font-size: 16px;
    font-family: "TT Lakes Demi", sans-serif;
    letter-spacing: -0.2px;
}
.content__button > img{
    margin-right: 8px;
}
.content__block-img > .content__pictures-logo{
    width: 100%;
    height: 80%;
    overflow: auto;
}
/*До 768*/
@media (max-width: 1119.9px) {
    header{
        padding: 0;
        margin: 0;
        background-color: #FFFFFF;
        height:88px;
        border-bottom: 1px solid;
        border-color: var(--frames-color);
    }
    .menu{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 100%;
        align-items: center;
    }
    .menu__block-smartphone{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        height: 100%;
        align-items: center;
    }
    .menu__block-tablet{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }
    .menu__block-tablet{
        gap: 16px;
    }
    .menu__block-smartphone{
        margin-left: 16px;
    }
    .menu__button-burger{
        margin-right: 16px;
    }
    .menu__checkstatus{
        margin-right: 16px;
    }
    .menu__profile{
        margin-right: 16px;
    }
    .navigation__top-heading:before {
        content: "";
        border: 2px solid var(--frames-color);
        height: 40px;
        width: 4px;
        margin-right: 12px;
        border-top-right-radius: 4px;
        border-end-end-radius: 4px;
    }
    .navigation__top-heading_position{
        margin-top: 24px;
        left: 0;
        margin-bottom: 24px;
    }
    .great-navigation_position{
        margin-left: 16px;
    }
    .content__button_position{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .content__block_position{
        margin-left: 24px;
        margin-top: 24px;
        margin-right: 0;
    }
}
@media (max-width: 320px) {
    .menu__repeir::before {
        content: "";
        position: absolute;
        background-color: #EAEAEA;
        width: 2px;
        margin-top: 4px;
        margin-left: -16px;
        height: 32px;
        border-radius: 1px;

    }
    .content__block_position {
        margin-left: 16px;
        margin-top: 24px;
    }
    .company-group__poisition{
        margin-left: 16px;
    }
}
@media (min-width: 321px) {
    .navigation__top-heading:before {
        content: "";
        border: 2px solid var(--frames-color);
        height: 40px;
        width: 4px;
        margin-right: 20px;
        border-top-right-radius: 4px;
        border-end-end-radius: 4px;


    }
    .great-navigation_position{
        margin-left: 24px;
    }
    .content__block_position{
        margin-left: 24px;
    }
    .company-group__poisition{
        margin-left: 24px;
    }
}
@media (min-width: 1120px) {
    .navigation__top-heading:before {
        content: "";
        border: 2px solid var(--frames-color);
        height: 40px;
        width: 4px;
        margin-right: 30px;
        border-top-right-radius: 4px;
        border-end-end-radius: 4px;
    }
}
/*ОТ 768*/
@media (min-width: 768px) and (max-width: 1119.9px){
    .menu__repeir::before{
        content: "";
        position: absolute;
        background-color: #EAEAEA;
        width: 2px;
        margin-top: 4px;
        margin-left: -16px;
        height: 32px;
        border-radius:1px;
    }
    .content{
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        height: auto;
        width: 100%;
        gap: 48px;
    }
    .content__block {
        flex: 0 0 312px;
        order: 1;
    }
    .content__block-img {
        flex: 0 1 100%;
        max-height: 80%;
        order: 2;
        margin-top: 32px;
        margin-right: 25px;
    }
    .content__pictures-logo{
        border-radius: 8px;
        float: left;
    }
    .content__block_position{
        margin-top: 32px;
    }
    .content__text-information, .content__text-history{

        max-width: 312px;
        max-height: 160px;
    }
    .content__button_position{
        padding-top: 0;
        margin-top: 10px;
    }
    .content__block-text{
        margin: 0;
        overflow: auto;
        scrollbar-width: none;
        min-width: 320px;
        max-height: 160px;
        line-height: 20px;
    }
}
@media (max-width: 767.9px) {
     .content__text-history, .menu__profile, .menu__call, .menu__chat {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
        /*display: none;*/
    }
}
@media (min-width: 321px) {
    .menu__void-icon{
        margin-left: 16px;
    }
    .menu__button-burger::after{
        content: "";
        position: absolute;
        background-color: #EAEAEA;
        width: 2px;
        height: 32px;
        border-radius:1px;
        margin-top: -35.5px;
        margin-left: 34px;
    }
}
@media (max-width: 1119.9px) {
    .menu__button-burger{
        max-height: 160px;
        max-width: 312px;
    }
    .menu__checkstatus-text, .menu__repeir-text {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
        /*display: none;*/
    }
}
@media (min-width: 1120px){
    .content{
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        height: auto;
        width: 100%;
        gap:36px;
    }
    .content__block {
        flex: 0 0 40%;
        order: 1;
        height: 160px;
        width: 490px;
    }
    .content__block-img {
        flex: 0 1 100%;
        order: 2;
        margin-top: 0;
        margin-right: 40px;
    }
    .content__pictures-logo{
        border-radius: 8px;
        float: left;
    }
    .content__text-information, .content__text-history{

        max-width: 490px;
        max-height: 160px;
    }
    .great-navigation_position{
        margin-left: 32px;
    }
    .navigation__top-heading_position{
        margin-top: 42px;
        margin-bottom: 8px;
    }
    .menu__call, .menu__chat, .menu__profile,  .menu__block-smartphone{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
        /*display: none;*/
    }
    .content__block_position{
        margin-top: 8px;
        margin-right: 0;
        margin-left: 34px;
    }
    header{
         padding: 0;
         margin: 0;
         height:1px;
         border-bottom: none;
     }
    .menu__block-tablet{
        display: flex;
        position: absolute;
        right: 32px;
        gap: 32px;
        top:42px
    }
    .menu__repeir, .menu__checkstatus{
        text-decoration: none;
    }
    .menu__repeir, .menu__checkstatus {
        display: flex;
        align-items: center;
        gap: 8px;
        font-family:'TT Lakes Condensed';
        font-weight: bold;
        font-style: normal;
        font-size: 16px;
        margin: 0;
        letter-spacing: -0.2px;
        color:black;
    }
    .great-navigation {
        flex-wrap: wrap;
    }
    .content__block-text{
        margin: 0;
        overflow: auto;
        scrollbar-width: none;
        min-width: 490px;
        max-height: 160px;
        line-height: 20px;
    }
    .content__button_position{
        padding-top: 14px;
    }
}
@media (min-width: 1132px){
    .content{
        padding-top: 24px;
    }
}
/* Меню по кнопке */
.company-group__block-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
    margin-top: 16px;
    overflow: hidden;
    width: 100%;
    height: 165px;
    transition: height 3s;
}
.copmanyGroupnoAuto {
    height: 253px;
}
.company-group__button{

}
.company-group__text{
    height: 56px;
    color: #7E7E82;
    background: linear-gradient(0.25turn,#F8F8F8, #FFFFFF);
}
.company-group__text p{
    margin: 0;
    padding-top: 15px;
}
.company-group__block-content__element {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 224px;
    height: 72px;
    background-color: #FFFFFF;
    border: 1px #EAEAEA solid;
    border-radius: 6px;
}

.company-group__block-content__element > img {
    margin-left: 16px;
    overflow: auto;
    margin-right: 42px;
    max-height: 80%;
    object-fit: contain;
}
.company-group__block-content__element > a{
    margin-right: 16px;
}
.company-group__block-content__element > a > div > img {
    width: 40px;
    height: 40px;
}
.swiper{
    margin-top: 16px;
}
.swiper-wrapper{
    margin-bottom: 45px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #B5B6BC;
 }
.company-group__button{
    display: flex;
}
.company-group__button > img{
    position: absolute;
    padding-top: 20px;
    transition: transform 1s ease;
    transform-origin: 5px 25px;
}
.rotate {
    transform-origin: 5px 25px;
    transform: rotate(180deg);
 }
.company-group__button > p{
    position: absolute;
    margin-left: 17px;
    width: 100px;
}
@media (min-width: 767.9px){
    .swiper{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
        /*display: none;*/
    }
}
@media (max-width: 767.9px) or (min-width: 1488px){
    .company-group__button{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
        /*display: none;*/
    }
}
@media (max-width: 767.9px) {
    .company-group__block-content{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
        /*display: none;*/
    }
}